// bg color
$mainBgColor: #f3f4f5;
$contentBgColor: white;

// Font size
$smallFontSize1: 1rem;
$smallFontSize15: 1.5rem;
$mediumFontSize2: 2rem;
$largeFontSize3: 3rem;

//font color
$whiteFontColor: white;

// box shadow
$mainBoxShadow: 0 0 5px grey;

//border radius
$mainBorderRadius: 0.2vw;

//margin
$vSmallMargin: 0.5vw;
$smallMargin: 2vw;

//padding
$vSmallPadding: 0.2vw;
$smallPadding1: 1vw;

//photo size
$smallPhotoSize: 10vw;
