@import "../../variables/style.scss";

.FilterContainer {
  height: max-content;
  box-shadow: $mainBoxShadow;
  position: sticky;
  top: $smallMargin;
  margin-top: $smallMargin;
  border-radius: $mainBorderRadius;
  padding: $smallPadding1;
  background-color: $contentBgColor;
  & > .Title {
    position: relative;
    top: -2vw;
    background-color: $contentBgColor;
    box-shadow: 0px -10px 6px 0px grey;
    padding: $smallPadding1;
    font-weight: bold;
  }
  & > p:first-child {
    margin-top: 0;
  }
}
.FilterStars {
  width: 100%;
  &img,
  svg,
  span {
    margin-right: $vSmallMargin;
    font-size: 2vw !important;
  }
  &img,
  svg:hover {
    color: gold;
    cursor: pointer;
  }
}
.FilterAdults {
  width: 100%;
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > span {
    font-weight: bold;
  }
  .ButtonsBox {
    display: flex;
    align-items: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    & > svg,
    img {
      margin: 1vw;
      font-size: 1.5vw;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.FilterChildren {
  width: 100%;
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > span {
    font-weight: bold;
  }
  .ButtonsBox {
    display: flex;
    align-items: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    & > svg,
    img {
      margin: 1vw;
      font-size: 1.5vw;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.disabled {
  color: lightgrey;
  cursor: not-allowed;
  &:hover {
    color: lightgrey !important;
    cursor: not-allowed !important;
  }
}
@media only screen and (max-width: 1200px) {
  .FilterAdults {
    font-size: 1.5vw;
    .ButtonsBox {
      & > svg,
      img {
        font-size: 2vw;
      }
    }
  }

  .FilterChildren {
    font-size: 1.5vw;
    .ButtonsBox {
      & > svg,
      img {
        font-size: 2vw;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .FilterContainer {
    z-index: 999;
    display: flex;
    justify-content: space-between;
    & > .Title {
      position: absolute;
      top: -2vw;
      box-shadow: none;
      padding: 1vw;
      height: max-content;
    }
  }
  .MobileStars {
    padding-left: 1vw;
  }
  .FilterStars {
    &img,
    svg,
    span {
      font-size: 3vw !important;
    }
  }
  .MobileNumberOfPeople {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    align-content: flex-start;
    & > p {
      width: 100%;
      height: max-content;
    }
    .FilterAdults,
    .FilterChildren {
      width: max-content;
      height: max-content;
    }
  }
}
@media only screen and (max-width: 800px) {
  .FilterStars {
    &img,
    svg,
    span {
      font-size: 4vw !important;
    }
  }
  .FilterAdults {
    font-size: 3vw;
    .ButtonsBox {
      & > svg,
      img {
        font-size: 3vw;
      }
    }
  }

  .FilterChildren {
    font-size: 3vw;
    .ButtonsBox {
      & > svg,
      img {
        font-size: 3vw;
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .FilterContainer {
    flex-wrap: wrap;
  }
  .FilterStars {
    &img,
    svg,
    span {
      font-size: 6vw !important;
    }
  }
  .MobileStars {
    padding-left: 1vw;
    width: 100%;
    display: flex;
    align-items: center;
    & > p {
      width: max-content;
      margin-right: 4vw;
    }
  }
  .MobileNumberOfPeople {
    & > p {
      margin-top: 0;
    }
  }
  .FilterAdults {
    font-size: 4vw;
    .ButtonsBox {
      & > svg,
      img {
        font-size: 4vw;
      }
    }
  }

  .FilterChildren {
    font-size: 4vw;
    .ButtonsBox {
      & > svg,
      img {
        font-size: 4vw;
      }
    }
  }
}
