.FilterContainer {
  height: max-content;
  box-shadow: 0 0 10px grey;
  position: sticky;
  top: 2vw;
  margin-top: 2vw;
  border-radius: 0.2vw;
  padding: 1vw;
  background-color: white;
  & > .Title {
    position: relative;
    top: -2vw;
    background-color: white;
    box-shadow: 0px -10px 6px 0px grey;
    padding: 1vw;
    font-weight: bold;
  }
  & > p:first-child {
    margin-top: 0;
  }
}
.FilterStars {
  width: 100%;
  font-size: 2vw;
  &img,
  svg,
  span {
    margin-right: 0.5vw;
    font-size: 3vw !important;
  }
  &img,
  svg:hover {
    color: gold;
    cursor: pointer;
  }
}
.FilterAdults {
  width: 100%;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > span {
    font-weight: bold;
  }
  .buttonsBox {
    display: flex;
    align-items: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    & > svg,
    img {
      margin: 1vw;
      font-size: 2vw;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.FilterChildren {
  width: 100%;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > span {
    font-weight: bold;
  }
  .buttonsBox {
    display: flex;
    align-items: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    & > svg,
    img {
      margin: 1vw;
      font-size: 2vw;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.disabled {
  color: lightgrey;
  cursor: not-allowed;
  &:hover {
    color: lightgrey !important;
    cursor: not-allowed !important;
  }
}
@media only screen and (max-width: 1000px) {
  .FilterContainer {
    z-index: 999;
    display: flex;
    justify-content: space-between;
    & > .Title {
      position: absolute;
      top: -2vw;
      box-shadow: none;
      padding: 1vw;
      height: max-content;
    }
  }
  .mobileStars {
    padding-left: 1vw;
  }
  .mobileNumberOfPeople {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    align-content: flex-start;
    & > p {
      width: 100%;
      height: max-content;
    }
    .FilterAdults,
    .FilterChildren {
      width: max-content;
      height: max-content;
    }
  }
}
